<div class='register widget' id='{{ id }}' data-representation='{{ representation }}'>
    <div id="{{ id }}-title" class='lg-text'>{{ title }}</div>
    <div id="{{ id }}-description" class='sm-text subtitle'>{{ description }}</div>
    <div id="{{ id }}-content" name='register-content' class='register-content' data-value=''>
        {{ content }}
    </div>
    <select id='{{ id }}-select' name='register-select-representation' title='Switch for changing representation of content'>
        <option selected value='BINARY'>Binary</option>
        <option value='HEXADECIMAL'>Hexadecimal</option>
        <option value='DECIMAL'>Decimal</option>
    </select>
</div>